body{
  margin: 0;
}

#gameArea{
  position: relative;
  background-color: black;
  height: 100vh;
}

#gameArea .paddle:nth-of-type(1){
  left: 0;
}

#gameArea .paddle:nth-of-type(2){
  right: 0;
}

.paddle{
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
}

.ball{
  position: absolute;
  background-color: white;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}