body{
  margin: 0;
  color: white;
  font-family: llpixel, monospace;
  text-align: center;
}

#gameArea{
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

#paddleContainer :first-child{
  left: 0;
}

#paddleContainer :last-child{
  right: 0;
}

.paddle{
  width: 20px;
  height: 250px;
  background-color: white;
  position: absolute;
}

.ball{
  position: absolute;
  background-color: white;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#board{
  text-align: center;
  font-size: 5rem;
}

#message{
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 3rem;
}

.hidden{
  opacity: 0;
}

#instructions{
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.3rem;
}

kbd{
  background-color: rgba(255, 255, 255, 0.312);
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
}

.twinkle{
  animation-name: twinkle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: 'llpixel';
  src: url(./LLPIXEL3.ttf);
}

@keyframes twinkle {
  0% {opacity: 100%}
  49.99% {opacity: 100%}
  50% {opacity: 0%}
  99.99% {opacity: 0%}
}