body{
  margin: 0;
  color: white;
  font-family: llpixel, monospace;
  text-align: center;
}

#gameArea{
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

#paddleContainer :first-child{
  left: 0;
}

#paddleContainer :last-child{
  right: 0;
}

.paddle{
  width: 20px;
  height: 200px;
  background-color: white;
  position: absolute;
}

.ball{
  position: absolute;
  background-color: white;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#board{
  text-align: center;
  font-size: 5rem;
}

#message{
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 3rem;
}

.hidden{
  opacity: 0;
}

#instructions{
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.5rem;
}

kbd{
  background-color: rgba(255, 255, 255, 0.312);
  display: inline-block;
  width: 30px;
  aspect-ratio: 1;
}

@font-face {
  font-family: 'llpixel';
  src: url(./LLPIXEL3.ttf);
}